.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-card {
  background-color: #ffffffdd;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.login-card input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.login-card button {
  width: 100%;
  padding: 0.7rem;
  background-color: #94bbe9;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background-color: #7da5d3;
}
